.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* fundo escuro */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-dialog {
  background: white;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.modal-footer .two{
    color:var(--white);
    background-color:var(--blue-800);
    border-radius:20px;
}

.modal-footer .one{
    color:var(--white);
    background-color: #6c757d;
    border-radius:20px;
}

.modal-content {
  padding: 20px;
}